<form action="/create" method="POST">
    <h2>Create todo</h2>
    <div class="input-field">
        <input type="text" name="title">
        <label>Todo title</label>
    </div>
    <button type="submit" class="btn waves-effect waves-light" name="action">
        <i class="material-icons right">
            Create
        </i>
    </button>
</form>